In [1]:
student={}

In [42]:
student={"name":"NaveenV","age":23,"department":"MBA"}

In [43]:
student["marks"]= 95,96,97,98,99

In [44]:
student["age"]:22

In [45]:
del student["age"]

In [46]:
student

{'name': 'NaveenV', 'department': 'MBA', 'marks': (95, 96, 97, 98, 99)}

In [47]:
for x in student:
    print (x)

name
department
marks

In [48]:
for x in student.values():
    print(x)

NaveenV
MBA
(95, 96, 97, 98, 99)

In [49]:
for x in student.items():
    print(x)

('name', 'NaveenV')
('department', 'MBA')
('marks', (95, 96, 97, 98, 99))

In [50]:
del student

In [51]:
student

NameError: name 'student' is not defined